body {
  margin: 0;
  font-family: Tahoma;
  background: linear-gradient(135deg, #667eea, #764ba2);
  color: #fff;
  min-height: 100vh;
}

.card {
  background: rgba(255,255,255,0.15);
  width: 90%;
  max-width: 600px;
  margin: 50px auto;
  padding: 25px;
  border-radius: 15px;
  backdrop-filter: blur(10px);
}

input, textarea, button {
  width: 100%;
  margin: 10px 0;
  padding: 12px;
  border-radius: 10px;
  border: none;
}

button {
  background: #00e0ff;
  cursor: pointer;
  font-size: 16px;
}
